DEBUG=False
SECRET_KEY=<Django SECRET KEY>

# # REMOVE COMMENTS
# using "django-environ" for .env file
# change as needed.

EMAIL_URL=smtp+tls://{{ email_address }}:{{ email_pass }}@{{ email_host }}:{{ email_port }}
ALLOWED_HOSTS={{ allowed_host|join(',') }}
DATABASE_URL=postgres://{{ postgres_user }}:{{ postgres_pass }}@{{ postgres_host }}:{{ postgres_port }}/{{ postgres_db }}

DJANGO_SUPERUSER_USERNAME={{ django_name }}
DJANGO_SUPERUSER_EMAIL={{ django_email }}
DJANGO_SUPERUSER_PASSWORD={{ django_pass }}
